<div class="banner">
    <div class="container">
      <h1>Los mejores <strong>restaurantes</strong> del mundo <strong>los encuentras en Restaurantes YA!</strong></h1>
      <p>Se parte de los miles de restaurantes que llegan a nuestros usuarios.</p>
      <a class="btn btn-primary" href="#">Registrate ahora!</a>
    </div>
  </div>
